
body{
    padding: 0px;
}

.opening-name{
    text-align: center;
    color:#009FBD;
    font-size: 55px;
    font-family: "Caveat", "cursive";
}
.opening-programmer{
    text-align: center;
    color:#009FBD;
    font-size: 30px;
    font-family: "Caveat", "cursive";
}


.top-container{
    background-color:#DAF5FF;
    height: 100%;
    padding: 100px;
    border: 0px;
    

}


.middle-container{
    background-color:#FFF3E2;
}


.divider{
    border: 10px dotted gray;
    height: 0;
}